body{
  background-color: gray;
}
button {
    background-color: #f9f9f9;
}


  .red{
    background-color: red;
  }
  .blue{
    background-color: blue;
  }

  .white{
    background-color: white;
  }

  .purple{
    background-color: purple;
  }
  .green{
    background-color: green;
  }
  .yellow{
    background-color: yellow;
  }
  .cyan{
    background-color: cyan;
  }
  .orange{
    background-color: orange;
  }
  .yellow{
    background-color: yellow;
  }
  .brown{
    background-color: brown;
  }
  .pink{
    background-color: pink;
  }
  .light-blue{
    background-color: lightblue;
  }
  .maroon{
    background-color: maroon;
  }

button{
  width: 80px;
  display: inline-block;
  text-align: center;
  border-radius: 20px;
}

button:hover{
  cursor: pointer;
}

input {
  text-align: center;
  width: 99%;
  border-radius: 20px;
  border-width: 2px; /* Sets the width of the border around the element to 2 pixels on all sides */
  border-style: solid; /* Specifies the border style as solid */
  border-color: black; /* Sets the border color to black */
  
}


.results{
  text-align: center;
}


.text{
  text-align: center;
  border-width: 2px; /* Sets the width of the border around the element to 2 pixels on all sides */
  border-style: solid; /* Specifies the border style as solid */
  border-color: black; /* Sets the border color to black */
  border-radius: 20px;
  
  
}





